pkgbase = python2-socksipychain
	pkgdesc = A Python SOCKS/HTTP Proxy module
	pkgver = 2.0.15b
	pkgrel = 1
	url = http://pagekite.org
	arch = any
	license = BSD
	depends = python2
	depends = python2-setuptools
	options = !emptydirs
	source = https://pagekite.net/pk/src/SocksipyChain-2.0.15b.tar.gz
	sha1sums = 646b45a9386aeab534168e251f984089b23261bd

pkgname = python2-socksipychain

